<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
<span>Boucherie Festival</span>
<span class="fill-remaining-space"></span>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>dehaze</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a routerLink=""><button mat-menu-item>
    <mat-icon>house</mat-icon>
    <span>Home</span>
  </button></a>
  
  <a routerLink="/vendor"><button mat-menu-item>
    <mat-icon>people</mat-icon>
    <span>Vendors</span>
  </button></a>

  <a routerLink="/about"><button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>About</span>
  </button></a>

  <a routerLink="/register"><button mat-menu-item>
    <mat-icon>recent_actors</mat-icon>
    <span>Register</span>
  </button></a>

</mat-menu>
</mat-toolbar>



<router-outlet></router-outlet>


